ul {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    list-style-type: none;
    width: 100%;
    height: 10%;
    background: none;
    margin: 0;
	color: white;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
	background-image: url("back.png");
	background-repeat: repeat;
}

header {
    height: 60%;
    width: 100%;
    padding: 0;
    background: none;

}

li {
    display: block;
    box-sizing: inherit;
    height: 100%;
    width: 10%;
    margin: 0;
    font-size: 500%;
	text-shadow:
		1px  1px 0 white,
		-1px -1px 0 white,  
		1px -1px 0 white,
		-1px  1px 0 white,
		1px  1px 0 white;
    text-align: center;
	-webkit-text-stroke: 10% white;
	-webkit-text-stroke-color: white;
	-webkit-text-fill-color: black;
	color: white;
    font-family: "Myfont", sans-serif;
    background: none;
}

@font-face {
    font-family: "Myfont";
    src: url('Myfont-Regular.ttf') format("truetype");
}

a:link {
    color: white;
	-webkit-text-stroke-color: white;
	-webkit-text-fill-color: black;
    text-decoration: none;
}

a:visited {
    color: white;
	-webkit-text-stroke-color: white;
	-webkit-text-fill-color: black;
    text-decoration: none;
}

a:hover {
    color: white;
	-webkit-text-stroke-color: white;
	-webkit-text-fill-color: black;
    text-decoration: none;
}

a:active {
    color: white;
	-webkit-text-stroke-color: white;
	-webkit-text-fill-color: black;
    text-decoration: none;
}

.nav {
    margin-top: 0;
}

.logo {
    width:50%;
    margin: 10%;
    margin-left: 23%;
    height: 50%;

}

.top {
	background: rgba(255,255,255,0.75);
	border-radius: 15px 15px 0px 0px;
	font-family: "Myfont", sans-serif;
	font-size: 300%;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	height: 30%;
}

.main {
	width: 100%;
	height: 300%;
}